@use '../abstracts/reset';
@use '../abstracts/colors';
@use '../abstracts/fonts';

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: fonts.$font-jetbrains;
}

header {
    
    .header_head {
        background: #000826;
        color: colors.$texts-white;
        padding: 2.6rem 3.6rem;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-weight: 700;
            font-size: 3.6rem;
        }
    }

    .header_content {
        height: 100vh;
        background-image: url(../images/background_desktop.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .img_text_header {
            display: grid;
            grid-template-columns: 50% 50%;
            align-content: center;
            height: 100%;

            img {
                justify-self: center;
            }
    
            .header_text {
                color: colors.$texts-white;
                max-width: 65rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                h2 {
                    font-weight: 700;
                    font-size: 2.2rem;
                    margin-bottom: 1rem;
                }
    
                p {
                    font-size: 1.8rem;
                }

                .container_buttons_section_select {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    min-height: 60px;
                    margin-top: 3rem;
            
                    button {
                        padding: 1rem 2rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 1.8rem;
                        cursor: pointer;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: white;
                        border: 2px solid #ffffff;
                        border-radius: 5px;
                        transition: 500ms;
                        background: #d75600;
            
                        i {
                            margin-left: 1rem;
                        }
                    }

                    :nth-child(2) {
                        background: #004bbb;
                    }

                    :nth-child(3) {
                        background: #4c0068;
                    }
            
                    button:hover {
                        font-size: 2rem;
                        background: #111111;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    header {
        .header_content {
            .img_text_header {
                .header_text {
                    .container_buttons_section_select {
                        button {
                            padding: 1rem;
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    header {
        .header_content {
            padding-inline: 1.4rem;

            .img_text_header {
                display: flex;
                flex-direction: column;
                align-items: center;
                

                img {
                    width: 100%;
                    max-width: 328px;
                }

                .header_text {
                    h2 {
                        font-size: 1.8rem;
                    }

                    p {
                        font-size: 1.4rem;
                    }

                    .container_buttons_section_select {
                        flex-wrap: wrap;

                        button {
                            margin-top: 1rem;
                            padding: 0.8rem;
                            font-size: 1.4rem;
                        }

                        button:hover {
                            font-size: 1.45rem;
                        }
                    }
                }
            }
        }
    }
}